body {
    background-color: #f1f1f1;
}

.card {
    width: 80%;
}

.card-input {
    border: 1px solid #cecece;
    border-radius: 20px;
    padding: 1%;
}

.card-input input {
    border: none;
    outline: none;
    width: 100%;
}

.card-input textarea {
    border: none;
    outline: none;
    width: 100%;
}
