body {
    background-color: #f1f1f1;
}

.card {
    width: 60%;
}

.card-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card-input {
    border: 1px solid #cecece;
    border-radius: 20px;
    padding: 2%;
}

.card-input input {
    border: none;
    outline: none;
    width: 100%;
}