
body {
    background-color: #f1f1f1;
}

.home {
    margin-top: 30px;
    margin-bottom: 30px;
}

.index {
    margin-top: 20px;
}

.quote {
    background-color: #EA526F!important;
    color: #ffffff;
}

.quote-author {
    border-top: 1px solid #ffffffa8;
}

.quote .quote-body {
    padding: 5%;
}

.quote hr {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.486);
}

