@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}

body {
    background-color: #f7f7f7;
}

/* UTILITARIES */
.bg-white {
    background-color: #ffffff;
    color: #777777;
}

.btn {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
}


/* SEARCH */
.bar-guest {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-bottom: 1%;
}

.bar-guest .btn-new-guest {
  background-color: #25CED1;
  margin-right: 5px;
  padding: 1%;
}

.bar-guest .search {
  padding: 1%;
  background-color: #fff;
  border-radius: 25px;
}

.bar-guest .search input {
  border: 0;
  outline: none;
  width: 100%;
}

.bar-guest .search input::placeholder {
  text-align: center;
  text-transform: uppercase;
  font-family: OpenSans-Regular;
}

/* TABELA STYLE */
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

table * {
  position: relative;
}

table td, table th {
  padding-left: 8px;
}

table thead tr {
  height: 60px;
  background: #EA526F;
  font-size: 16px;
  font-family: OpenSans-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

table tbody tr {
  height: 48px;
  color: #777;
}

tbody tr:nth-child(even) {
  background-color: #fceadea1;
  border-top: 0;
  border-bottom: 0;
}

table tbody tr:last-child {
  border: 0;
}

table td, table th {
  text-align: center;
}

table td.l, table th.l {
  text-align: center;
}

table td.c, table th.c {
  text-align: center;
}

table td.r, table th.r {
  text-align: center;
}

/* BUTTONS PAGINATION */
.pagination {
  margin-top: 1%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.pagination .show-numbers {
  color: #777;
  position: relative;
  top: 11px;
  left: -20px;
}

.pagination .next {
  font-style: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #25CED1;
  color: #fff;
}

.pagination .previous {
  font-style: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #25CED1;
  color: #fff;
}

.pagination .next:hover {
  opacity: 0.5;
}

.pagination .previous:hover {
  opacity: 0.5;
}


@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "#";
  }
  table tbody tr td:nth-child(2):before {
    content: "First Name";
  }
  table tbody tr td:nth-child(3):before {
    content: "Last Name";
  }
  table tbody tr td:nth-child(4):before {
    content: "Email";
  }
  table tbody tr td:nth-child(5):before {
    content: "Address";
  }
  table tbody tr td:nth-child(6):before {
    content: "Country";
  }
  table tbody tr td:nth-child(7):before {
    content: "State";
  }
  table tbody tr td:nth-child(8):before {
    content: "Phone Number";
  }
}

@media (max-width: 800px) {
  .btn-new-guest, .search, .show-numbers {
    width: 100%;
    margin-bottom: 5px;
  }
}