body {
    background-color: #f1f1f1;
}

.card-login {
    width: 60%;
}

.form {
    text-align: center;
    color: #818078;
}

.form-input {
    border: 1px solid #cecece;
    border-radius: 20px;
    padding: 2%;
}

.form-input input {
    width: 100%;
    outline: none;
    border: none;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.hr-text::before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text::after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}

.btn-login {
    background-color: #25CED1;
}

.btn-fb {
    background-color: #3b5998!important;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

@media (max-width: 800px) {
    .card-login {
        width: 100%;
        margin-left: 11%;
    }
}