body {
    background-color: #f1f1f1;
}

img {
    max-width: 100%;
}

.reservation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reservation .card {
    margin-left: 1%;
}

.card {
    width: 350px;
}

.card .card-input {
    border: 1px solid #cecece;
    border-radius: 20px;
    padding: 2%;
}

.card .card-input input {
    outline: none;
    border: none;
    width: 100%;
}

.card .card-input select {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.card .card-body textarea {
    width: 100%;
    border: none;
    outline: none;
}

.card > #submit {
    font-size: 1.2em;
    margin-top: 20px;
}

@media (max-width: 800px) {
    .reservation .card {
        margin-top: 2%;
        margin-left: -19px;
    }
}
