@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.view img,
.view iframe {
    position: relative;
    display: block
}

.w-100 {
    width: 100%;
}

.mt-1 {
    margin-top: 2%;
}

.mt-3 {
    margin-top: 4%;
}

.mt-5 {
    margin-top: 6%;
}

.mb-1 {
    margin-bottom: 2%;
}

.ml-1 {
    margin-left: 2%;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
  
.btn {
    background-color: #EA526F;
    color: #ffffff!important;
    padding:.28rem .8rem;
    font-size:.875rem;
    line-height:1.5;
    border-radius: .9rem;
    border: 0;
}

.display {
    display: block!important;
}

.content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.title-page {
    text-align: center;
    color: #777777;
}

.row {
    display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.col {
    -ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
    position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    background-color: #ffffff;
    box-shadow: 0 3px 20px #00000028;
    width: 100%;
    /*border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;*/
}


.navbar .navbar-action {
    padding: 20px;
}

.navbar .navbar-action .navbar-dropdown {
    display: none;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    padding: 20px;
    
}

.navbar ul li .active {
    color: #3a546d!important;
}

.navbar ul li a {
    color: #7C8792;
    text-decoration:none solid rgb(44, 62, 80)
}

.navbar ul li a:hover {
    color: #3a546d;
}

.card {
    background-color: #ffffff;
    border-radius: .7rem;
}

.card-title {
    background-color: #EA526F;
    color: #ffffff;
    padding: 3%;
    text-align: center;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    border-radius: calc(0.4rem - 1px);
}

.card.card-over .view.view-over {
    border-radius: 0.4rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card.card-over.index .view.view-over {
    position: relative;
    z-index: 2
}

.card.card-over.index {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.card.card-over.index .card-body.card-body-over {
    background-color: #ffffff;
    margin-right: 4%;
    margin-left: 4%;
    border-radius: 0 0 0.7rem 0.7rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-body .card-head-quote {
    display: flex;
}

.card .card-body .card-head-quote img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card .card-body .card-head-quote h3 {
    margin-left: 10px;
    margin-top: 12px;
}


footer {
    margin-top: auto;
    background-color: #ffffff;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
}

footer p {
    padding: 2%;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



@media (max-width: 800px) {
    .row {
        flex-flow: column wrap;
    }

    .navbar {
        flex-flow: column wrap;
        text-align: center;
    }

    .navbar .navbar-action {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .navbar .navbar-action .navbar-dropdown {
        display: block;
    }

    .navbar ul {
        display: inline-block;
    }

    .navbar .menu {
        display: none;
    }

    .navbar .access {
        display: none;
    }

    .card iframe {
        width: 100%;
    }
    .content-center {
        margin-left: -6%;
    }
}
